@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');


.App {
  text-align: center;
}
header{
  font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.rubby{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(23, 28, 34) 65%, rgb(49, 56, 58) 100%);
}

.store-logo{
  width: 30px;
  object-fit: contain;
}
.store-logo img{
  width: 100%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Specifically for the swipeable cards */
button {
  background: none;
  border: none;
}

button:focus {
  outline: none;
}

button.hidden {
  display: none;
}

@media (min-width: 768px) {
  .button.hidden {
    display: block;
  }
}
